name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: '3.11'
    - name: Upgrade python tooling
      run: python -m pip install --upgrade pip setuptools wheel
    - name: Install dependencies
      run: python -m pip install -r requirements.txt
    - name: Install lint dependencies
      run: python -m pip install --upgrade mypy
    - name: Lint
      run: python -m mypy -p linehaul
    - name: Install test dependencies
      run: python -m pip install pytest pretend hypothesis pyaml
    - name: Test
      run: python -m pytest test_functions.py tests/unit
